.songRow {
    margin-left: 20px;
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;
    overflow-y: overlay;
}

.play:hover {
    cursor: pointer;
    background-color: lightgray;
    max-width: max-content !important;
    border-radius: 10px;
    opacity: 0.8;
}

.songRow__info.play:hover {
    cursor: pointer;
    background-color: #fff;
    border-radius: 10px;
    opacity: 0.8;
}

.songRow__info {
    display: flex;
    align-items: center;
}

.div {
    align-items: flex-end;
    margin-left: 30px;
    margin-bottom: 30px !important;
}

.songRow__info h1 {
    font-weight: 400;
    font-size: 65px;
}

.songRow__info p {
    font-size: 20px;
}

.songRow__info h5 {
    font-size: 1.2rem;
    font-weight: 200;
}

.songRow__info h6 {
    font-size: 14px;
    font-weight: 100;
    text-align: end;
}

.songRow__album {
    height: 85px;
    width: 85px;
}

#flame {
    object-fit: contain;
}

@media screen and (max-width: 1405px) {
    .songRow__info>iframe {
        height: 200px;
        max-width: 100% !important;
        object-fit: contain;
    }
    .songRow__album {
        display: none;
    }
    .sideBar {
        flex: 0 !important;
        display: none !important;
        position: absolute !important;
    }
    .body {
        flex: 1 !important;
    }
}

@media screen and (max-width: 950px) {
    .songRow__info h5,
    .songRow__info h6,
    .songRow__info h1,
    .songRow__info p {
        display: none;
        position: absolute;
    }
    .songRow {
        margin-left: 0 !important;
    }
}